.containerProfile {
    display: flex;
    align-items: center;
}

.containerProfile > img{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}
.containerProfile div{
    margin-left: 1.5rem;
}

.containerProfile div strong{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}

.containerProfile div p{
    font-size: 1rem;
    margin-top: 0.5rem;
}

.containerProfile div p img{
    margin-right: 0.5rem;
}