* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--background);
    color: var(--text)
}
@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}
@media(max-width: 720){
    html{
        font-size: 87.5%;
    }
}

body, input, textarea, button{
    font: 400 1rem "inter", sans-serif;
}

button{
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}
@media(max-width: 720){
    html{
        font-size: 87.5%;
    }
}



:root{
    --white: #fff;
    --background: #f2f3f5;
    --gray-line: #DCDDE0;
    --text: #666666;
    --text-highlight: #B3B9FF;
    --title: #2e384d;
    --red: #e83f5b;
    --green: #4cd62b;
    --blue: #5965e0;
    --blue-dark: #4953b8;
    --blue-twiter: #2aa9e0;
}



